@import "Route.scss";

<<<<<<< HEAD
#HelloWorldRoute {
=======
#hello-world-route {
>>>>>>> b9bb0a0 (UPDATE: Reinstated repo (...))
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
#versions {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}