@import "Route.scss";

#HelloWorldRoute {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
#versions {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}