@import "Route.scss";

<<<<<<< HEAD
#HomeRoute {
=======
#home-route {
>>>>>>> b9bb0a0 (UPDATE: Reinstated repo (...))
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}