@mixin center-text($direction, $wrapping) {
	display: flex;
	flex-flow: $direction $wrapping;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@mixin style-links($fontSize, $underlined: false) {
	font-size: $fontSize;
	color: white;
	transition: color .2s;

	@if($underlined == true) {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}

	&:hover {
		color: map-get($colorPalette, "mandarinOrange");
		cursor: pointer;
	}
}
@mixin generic-button($color, $bg, $fontSize) {
	border: 1px solid $color;
	color: $color;
	border-radius: 8px;
	padding: 0.25rem;
	font-size: $fontSize;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: none;
	transition: background .2s;

	&:hover {
		background: $bg;
		cursor: pointer;
	}
}
@mixin style-scrollbar() {
	&::-webkit-scrollbar {
		width: 8px;
		background: map-get($colorPalette, "darkerRichBlack");
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background: map-get($colorPalette, "vermilionRed");
	}
}

@mixin bigSize() {
	@media screen and (min-width: 1025px) {
		@content;
	}
}
@mixin mediumSize() {
	@media screen and (min-width: 769px) and (max-width: 1024px) {
		@content;
	}
}
@mixin smallSize() {
	@media screen and (min-width: 481px) and (max-width: 768px) {
		@content;
	}
}
@mixin smallerSize() {
	@media screen and (min-width: 320px) and (max-width: 480px) {
		@content;
	}
}